aiohttp==3.8.1
django==4.0.4
python-dotenv==0.20.0
async-generator==1.10
gunicorn==20.1.0
django-split-settings==1.1.0
django-mathfilters==1.0.0
django-cors-headers==3.6.0
psycopg2-binary==2.9.3
Pillow==9.1.0
protobuf==3.19.3
pydantic==1.8.2
redis==4.3.4
pytz==2022.1
celery==5.2.7
tensorflow==2.9.1
pandas==1.3.5
numpy==1.22.3
scikit-learn==1.0.2